@media (prefers-color-scheme: dark) {
	body {
		text-shadow: 1px 1px #000;
	}

	body,
	main,
	article {
		background-color: #1a1a1a;
	}

	h1,
	h2 {
		color: #eee;
	}

	#token,
	#submit,
	#screenshot {
		color: #fff;
		border-color: #000;
	}

	#token {
		border-top-color: #000;
		border-bottom-color: #000;
		border-left-color: #000;
		background-color: #333;
	}

	#token:focus {
		background-color: #3a3a3a;
	}

	#submit,
	#screenshot {
		background-color: #2e4052;
	}

	#submit:hover,
	#screenshot:hover {
		background-color: #203953;
	}

	#screenshot {
		background-image: url('../svg/screenshot-dark.svg');
	}

	nav a {
		color: #517292;
	}

	nav a:hover {
		color: #5fa1e2;
	}

	nav a.selected {
		color: #fff;
	}

	section div ul li span,
	section.list ul li {
		color: #ccc;
	}

	section.bars div ul li span {
		color: #fff;
	}

	section.bars div ul li {
		background-color: #252525;
	}

	section.bars div ul li:hover {
		background-color: #202020;
	}

	#levels div ul li span.bar {
		background-color: #405966;
	}

	#ages div ul li span.bar {
		background-color: #4a6b4a;
	}

	#deaths div ul li span.bar {
		background-color: #4e4066;
	}

	#played div ul li span.bar {
		background-color: #6b5a42;
	}

	#birthdays div ul li span.bar {
		background-color: #6b434e;
	}

	section.pie div svg circle.Asura {
		stroke: #8262c1;
	}

	section.pie div svg circle.Charr {
		stroke: #cb606c;
	}

	section.pie div svg circle.Human {
		stroke: #ccb752;
	}

	section.pie div svg circle.Norn {
		stroke: #5e95cc;
	}

	section.pie div svg circle.Sylvari {
		stroke: #4eb851;
	}

	section.pie div svg circle.Elementalist {
		stroke: #c56e6c;
	}

	section.pie div svg circle.Engineer {
		stroke: #a67d47;
	}

	section.pie div svg circle.Guardian {
		stroke: #5b9aae;
	}

	section.pie div svg circle.Mesmer {
		stroke: #9261aa;
	}

	section.pie div svg circle.Necromancer {
		stroke: #428659;
	}

	section.pie div svg circle.Ranger {
		stroke: #72b236;
	}

	section.pie div svg circle.Revenant {
		stroke: #a65747;
	}

	section.pie div svg circle.Thief {
		stroke: #9a7277;
	}

	section.pie div svg circle.Warrior {
		stroke: #cca752;
	}

	section.pie div svg circle.Male {
		stroke: #4b83b8;
	}

	section.pie div svg circle.Female {
		stroke: #b34874;
	}

	#races div ul li span.Asura {
		border-color: #8262c1;
	}

	#races div ul li span.Charr {
		border-color: #cb606c;
	}

	#races div ul li span.Human {
		border-color: #ccb752;
	}

	#races div ul li span.Norn {
		border-color: #5e95cc;
	}

	#races div ul li span.Sylvari {
		border-color: #4eb851;
	}

	#professions div ul li span.Elementalist {
		border-color: #c56e6c;
	}

	#professions div ul li span.Engineer {
		border-color: #a67d47;
	}

	#professions div ul li span.Guardian {
		border-color: #5b9aae;
	}

	#professions div ul li span.Mesmer {
		border-color: #9261aa;
	}

	#professions div ul li span.Necromancer {
		border-color: #428659;
	}

	#professions div ul li span.Ranger {
		border-color: #72b236;
	}

	#professions div ul li span.Revenant {
		border-color: #a65747;
	}

	#professions div ul li span.Thief {
		border-color: #9a7277;
	}

	#professions div ul li span.Warrior {
		border-color: #cca752;
	}

	#genders div ul li span.Male {
		border-color: #4b83b8;
	}

	#genders div ul li span.Female {
		border-color: #b34874;
	}

	footer {
		color: #444;
	}
}

@media (prefers-color-scheme: light) {

	body,
	header,
	main,
	footer {
		background-color: #f4f4f4;
	}

	h1,
	h2,
	section.list ul li {
		color: #444;
	}

	nav a {
		color: #7ebaff;
	}

	nav a:hover {
		color: #0074f8;
	}

	nav a.selected {
		color: #222;
	}

	#token,
	#submit,
	#screenshot {
		border-color: #cacaca;
	}

	#screenshot {
		background-image: url('../svg/screenshot-light.svg');
	}

	section div ul li span {
		color: #333;
	}

	section.bars div ul li {
		background-color: #f8f8f8;
	}

	section.bars div ul li:hover {
		background-color: #f0f0f0;
	}

	#levels div ul li span.bar {
		background-color: #d0e3fa;
	}

	#ages div ul li span.bar {
		background-color: #d6f7d6;
	}

	#deaths div ul li span.bar {
		background-color: #e9d0fa;
	}

	#played div ul li span.bar {
		background-color: #fef3cc;
	}

	#birthdays div ul li span.bar {
		background-color: #fad0db;
	}

	section.pie div svg circle.Asura {
		stroke: #a27bf1;
	}

	section.pie div svg circle.Charr {
		stroke: #fe7887;
	}

	section.pie div svg circle.Human {
		stroke: #ffe566;
	}

	section.pie div svg circle.Norn {
		stroke: #75baff;
	}

	section.pie div svg circle.Sylvari {
		stroke: #61e665;
	}

	section.pie div svg circle.Elementalist {
		stroke: #f68a87;
	}

	section.pie div svg circle.Engineer {
		stroke: #d09c59;
	}

	section.pie div svg circle.Guardian {
		stroke: #72c1d9;
	}

	section.pie div svg circle.Mesmer {
		stroke: #b679d5;
	}

	section.pie div svg circle.Necromancer {
		stroke: #52a76f;
	}

	section.pie div svg circle.Ranger {
		stroke: #8edf44;
	}

	section.pie div svg circle.Revenant {
		stroke: #d16e5a;
	}

	section.pie div svg circle.Thief {
		stroke: #c08f95;
	}

	section.pie div svg circle.Warrior {
		stroke: #ffd166;
	}

	section.pie div svg circle.Male {
		stroke: #66b5ff;
	}

	section.pie div svg circle.Female {
		stroke: #ff66a6;
	}

	#races div ul li span.Asura {
		border-color: #a27bf1;
	}

	#races div ul li span.Charr {
		border-color: #fe7887;
	}

	#races div ul li span.Human {
		border-color: #ffe566;
	}

	#races div ul li span.Norn {
		border-color: #75baff;
	}

	#races div ul li span.Sylvari {
		border-color: #61e665;
	}

	#professions div ul li span.Elementalist {
		border-color: #f68a87;
	}

	#professions div ul li span.Engineer {
		border-color: #d09c59;
	}

	#professions div ul li span.Guardian {
		border-color: #72c1d9;
	}

	#professions div ul li span.Mesmer {
		border-color: #b679d5;
	}

	#professions div ul li span.Necromancer {
		border-color: #52a76f;
	}

	#professions div ul li span.Ranger {
		border-color: #8edf44;
	}

	#professions div ul li span.Revenant {
		border-color: #d16e5a;
	}

	#professions div ul li span.Thief {
		border-color: #c08f95;
	}

	#professions div ul li span.Warrior {
		border-color: #ffd166;
	}

	#genders div ul li span.Male {
		border-color: #66b5ff;
	}

	#genders div ul li span.Female {
		border-color: #ff66a6;
	}

	footer {
		color: #aaa;
	}
}