@font-face {
	font-family: "Open Sans";
	src: url("../../fonts/OpenSans-Light.ttf");
	font-weight: 300;
}

@font-face {
	font-family: "Open Sans";
	src: url("../../fonts/OpenSans-Regular.ttf");
	font-weight: 400;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

html,
body {
	height: 100%;
	user-select: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

main {
	flex-direction: column;
	min-height: 100vh;
	width: 800px;
	margin: 0 auto;
}

main.screenshot article {
	flex: none;
}

main.screenshot footer {
	display: none;
}

main,
form,
nav,
section div,
section.bars div ul li {
	display: flex;
}

article,
#token,
section div ul,
section.bars div ul li span.name {
	flex: 1;
}

header,
article,
footer {
	padding: 16px;
}

footer {
	text-align: center;
}

form {
	width: 100%;
	margin: 12px 0;
}

input,
#menu {
	border-style: solid;
	border-width: 1px;
	padding: 8px 6px;
	font-size: 1.2rem;
	transition: color .2s, border-color .2s, background-color .2s;
}

#submit,
#menu,
#screenshot {
	cursor: pointer;
}

#token {
	border-right: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#submit {
	width: 110px;
}

#menu {
	width: 100px;
	border-left: 0;
	border-right: 0;
}

#screenshot {
	width: 36px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: center;
}

section {
	display: inline-block;
	width: 100%;
}

section:not(:last-of-type) {
	margin-bottom: 24px;
}

section div ul {
	list-style: none;
}

section div ul li {
	margin: 6px 0;
}

section div ul li span {
	display: inline-block;
}

section.list ul {
	list-style: none;
}

section.list ul li {
	margin: 6px 0;
}

section.pie div ul li span {
	border: none;
	border-left-width: 12px;
	border-left-style: solid;
	padding-left: 6px;
}

section.pie div svg {
	width: 360px;
	height: 360px;
}

section.pie div svg circle {
	fill: none;
	stroke-width: 7;
	transition: opacity .2s;
}

section.pie div svg circle {
	opacity: .65;
}

section.pie div svg circle:hover {
	opacity: 1;
}

section.pie div svg .segment {
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
}

section.bars div ul li,
section.bars div ul li span.bar {
	border-radius: 4px;
}

section.bars div ul li {
	position: relative;
	padding: 4px;
	transition: background-color .2s;
}

section.bars div ul li span.bar {
	position: absolute;
	left: 0;
	top: 0;
	width: 300px;
	height: 100%;
	opacity: .5;
	z-index: 1;
	transition: opacity .2s;
}

section.bars div ul li:hover span.bar {
	opacity: 1;
}

section.bars div ul li span.name,
section.bars div ul li span.value {
	position: relative;
	z-index: 2;
}

footer {
	font-size: 1rem;
}

div.tooltip {
	position: absolute;
	font-size: 1.4rem;
	padding: 2px 6px;
	border-radius: 6px;
	border-width: 1px;
	border-style: solid;
}